{% extends "base.html"%}


    {% block title %}home{% endblock %}

    {% block headLinks %}
    <link rel="stylesheet" href="public/css/home.css">
    <script type="text/javascript" src="js/home.js"></script>
    {% endblock %}

{% block main %}
{% endblock %}

    <div class="container">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <h5>Get Advised to make your right gym rutine & diet</h5>

                <!-- Page Content -->
                <div class="container">

                    <!-- Portfolio Item Heading -->
                    <img src="public/img/equipment/life-fitness.png" style="width: 200px">


                    <!-- Portfolio Item Row -->
                    <div class="row">
                        <div class="col-md-8">
                            <video class="video-fluid z-depth-1" autoplay loop controls muted>
                                <source src="public/img/home/projecte_final_video.mp4" type="video/mp4" />
                            </video>
                        </div>

                        <div class="col-md-4">
                            <h5 class="my-3">My Gym is more yours than ever</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                            <h3 class="my-3">Project Details</h3>
                            <ul>
                                <li>Couches</li>
                                <li>dietitian</li>
                                <li>Routines</li>
                                <li>Store</li>
                            </ul>
                        </div>

                    </div>

                    <!-- Related Projects Row -->
                    <h3 class="my-4">Services</h3>

                    <div class="row">

                        <div class="col-md-3 col-sm-6 mb-4">
                            <a href="routines.html">
                                <img class="img-fluid" img src="public/img/home/img_home1.jpg" alt="">
                            </a>
                        </div>

                        <div class="col-md-3 col-sm-6 mb-4">
                            <a href="#">
                                <img class="img-fluid" img src="public/img/home/img_home2.jpg" alt="">
                            </a>
                        </div>

                        <div class="col-md-3 col-sm-6 mb-4">
                            <a href="#">
                                <img class="img-fluid" img src="public/img/home/img_home3.jpg" alt="">
                            </a>
                        </div>

                        <div class="col-md-3 col-sm-6 mb-4">
                            <a href="#">
                                <img class="img-fluid" img src="public/img/home/img_home4.jpg" alt="">
                            </a>
                        </div>

                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container -->
            </div>
        </div>
    </div>
