<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Confirmar registro PHP-MVC</title>
</head>
<body>
    <table width="250" border="0" cellspacing="0" cellpadding="10">
        <tbody>
            <tr>
                <td valign="middle" height="40" bgcolor="#bf1650" style="text-align: center; width: 100%; padding: 0px;">
                    <h3>Nombre: {{ nombre }}</h3>
                    <h3>Apellido: {{ apellido }}</h3>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
